.DS_Store
.idea/
/images/.DS_Store
/images/aliens/.DS_Store
/images/aliens/alien.pxd
/images/aliens/orig/
/images/gun/.DS_Store
/images/progr_bars/.DS_Store
/images/app_icon.pxd
/images/for README/header_img.pxd
/images/for README/app_icon.pxd
