.DS_Store
.idea/
images/.DS_Store
images/IMG_20231103_031827.jpg
images/aliens/.DS_Store
images/aliens/alien.pxd
images/aliens/gigachad.png
images/aliens/orig/
images/gun/.DS_Store
images/progr_bars/.DS_Store
images/space_invanders_tample.gif
images/start_screen.pxd